.service-card, .service-card-lg {
    background-color: #f8f8f8;
    border-bottom: 2px solid #50c0e6;
    box-shadow: 0 15px 12px -13px #50c0e6;
    height: 520px;
    margin-top: 1rem;
    padding: 20px 20px 50px;
    width: 100%;
    border-radius: 20px;
}

.service-card h5, .service-card-lg h5 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
}

img {
    border-radius: 50%;
    width: 110px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 1232px) {
    .service-card {
        height: 650px;
    }
}

@media (max-width: 767px) {
    .service-card {
        height: auto;
    }
}