@font-face {
    font-family: "Josefin Sans", sans-serif;
    font-display: swap;
}

body {
    font-size: 14px;
    font-weight: 300;
    background-color: #f6f6f6;
    font-family: "Josefin Sans", sans-serif;
}

.container-fluid {
    width: 85% !important;
}

ul {
    padding-left: 0px;
}

@media (max-width: 426px) {
    .container-fluid {
        width: 100% !important;
    }

    .card-body {
        padding: 0px;
    }

    ul {
        padding-left: 0px;
    }

    .service-card {
        height: 500px !important;
    }

    .service-card h5 {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
}

.btn-primary {
    background-color: #3c77b1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3c77b1; /*set the color you want here*/
}
