.home {
    margin-top: 8.5rem;
}

.payment-card {
    border-radius: 18px;
    box-shadow: inset -4px 4px 4px #ffffff40, inset 4px -4px 4px #00000026;
}

.header-title {
    font-weight: 900;
}

.dis-text {
    margin-top: 2rem;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

hr.horizontal.dark {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.24), transparent);
}

hr.horizontal {
    background-color: transparent;
}

.return-btn {
    text-transform: capitalize;
    padding: 1rem 3rem;
}
.contact-text{
    font-size: 20px;
}